@import "./reset.scss";

/* 全局设置根元素字体大小 */
html {
  font-size: 16px;
}


// 滚动条样式设计
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: $base-scroll-background;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #a8a8a8;
  border-radius: 10px;
}
