@font-face {
  font-family: "HarmonyOS_Sans_SC_Regular";
  src: url('HarmonyOS_Sans_SC_Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HarmonyOS_Sans_SC_Medium";
  src: url('HarmonyOS_Sans_SC_Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PingFang SC";
  src: url('PingFang Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PingFang_Bold SC";
  src: url('PingFang BOld.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "YShayuTi";
  src: url('YShayuTi.ttf');
  font-weight: normal;
  font-style: normal;
}
