@font-face {
  font-family: "HarmonyOS_Sans_SC_Regular";
  src: url('HarmonyOS_Sans_SC_Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HarmonyOS_Sans_SC_Medium";
  src: url('HarmonyOS_Sans_SC_Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
