@import "./reset.scss";
@import "../theme/handle";


/* 全局设置根元素字体大小 */
html {
  font-size: 16px;
  font-family: HarmonyOS_Sans_SC_Regular;
}


// 滚动条样式设计
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  @include background_color('scroll-bg-color')
}

::-webkit-scrollbar-thumb {
  width: 10px;
  @include background_color('scroll-thumb-color');
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: red;
}
