* {
  /* 去掉所有标签的所有内外边距 */
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

em, i {
  /* 去掉em和i斜体文字形式 */
  font-style: normal
}

li {
  /* 去掉li的小圆点 */
  list-style: none
}

img {
  /* 兼容低版本浏览器,如果图片外面包含了链接会有边框问题 */
  border: 0;
  /* 取消图底侧有空白缝隙问题(因为默认是baseline，小写p字符下方超出，所以图片下面有缝隙) */
  vertical-align: middle
}

button {
  /* 小手指 */
  cursor: pointer
}

a {
  color: #666;
  /* 去除下划线 */
  text-decoration: none
}

button, input, a, th, i, tr, ul, body, h1, h2, form, html, nav, p, table, strong, span {
  /* \5B8B\4F53:宋体 --- unicode编码，避免乱码 */
  font-family: HarmonyOS_Sans_SC_Regular, 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

body {
  /* css3属性，抗锯齿性，让文字显示的更加清晰 */
  -webkit-font-smoothing: antialiased;
  /* 12px是字体大小，1.5倍行高 */
  font: 12px/1.5 HarmonyOS_Sans_SC_Regular, 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  color: #666
}

.hide, .none {
  display: none
}

/* 清除浮动，伪元素法 */
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0
}

.clearfix {
  *zoom: 1
}

/* 取消 WebKit 内核下的默认图标 */
input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none !important;
}

/* 取消 Chromium 与 IE 内核下的默认图标 */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none !important;
}

