$themes: (
        light: (
                bg-color: $base-unify-white,
                nav-bg-color: $base-unify-white,
                nav-font-color: $base-unify-black,
                scroll-bg-color: $bg-scroll-light,
                scroll-thumb-color: $scroll-thumb-light-color,
        ),
        dark: (
                bg-color: $base-unify-black,
                nav-bg-color: $base-unify-black,
                nav-font-color: $base-unify-white,
                scroll-bg-color: $bg-scroll-dark,
                scroll-thumb-color: $scroll-thumb-dark-color,
        )
);
