$themes: (
        light: (
                bg-color: #fff,
                nav-bg-color: #fff,
                nav-font-color: #262727,
        ),
        dark: (
                bg-color: #262727,
                nav-bg-color: #262727,
                nav-font-color: #fff,
        )
);